.auth-container {
  min-height: 100vh;
  background-image: url(../../../assets/images/bg3.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
