.add-task-btn{
    background-color: #EF9B28 !important;
}

table thead .table-header th {
    background-color: #315951;
    color: #fff;
}

.bg-none{
    background-color: transparent !important;
    color: #000 !important;
}

.dropdown-item{
    color: #315951 !important;
}

.cursor-pointer {
    cursor: pointer;
}

.new-task-body{
    background-color: #f5f5f5;
}

.select-input{
    width: 49% !important;
}

/* In your CSS file */
.text-dark-placeholder::placeholder {
    color: gray !important;
  }